{% set title = 'Login' %} {% extends 'src/layouts/auth.html' %} {% block content
%}
<div class="row h-100">
    <div class="col-lg-6 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <img src="assets/static/images/logo/logo.svg" alt="Logo">
            </div>
            <h1 class="auth-title">Log In</h1>
            <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
            <div class="form-group position-relative has-icon-left mb-4">
                <!-- id 입력창 -->
                <input id="userId" type="text" class="form-control form-control-xl" placeholder="Username">
                <div class="form-control-icon">
                    <i class="bi bi-person"></i>
                </div>
            </div>
            <div class="form-group position-relative has-icon-left mb-4">
                <!-- 패스워드 입력창 -->
                <input id="password" type="password" class="form-control form-control-xl" placeholder="Password">
                <div class="form-control-icon">
                    <i class="bi bi-shield-lock"></i>
                </div>
            </div>
            <!-- 자동로그인 기능 -->
            <div class="form-check form-check-lg d-flex align-items-end">
                <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label text-gray-600" for="flexCheckDefault">
                    Keep me logged in
                </label>
            </div>
            <!-- 로그인 버튼 -->
            <button id="btn" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
            <div class="text-center mt-5 text-lg fs-4">
                <!-- 회원가입 페이지로 이동  -->
                <p class="text-gray-600">Don't have an account? <a href="auth-register.html" class="font-bold">Sign
                        up</a>.</p>
                        <!-- 비밀번호 찾기 페이지 이동 -->
                <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 d-none d-lg-block">
        <div id="auth-right">
        </div>
        <div class="form-check form-check-lg d-flex align-items-end">
          <input
            class="form-check-input me-2"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label text-gray-600" for="flexCheckDefault">
            Keep me logged in
          </label>
        </div>
        <button
          class="btn btn-primary btn-block btn-lg shadow-lg mt-5"
          id="btn"
        >
          Log in
        </button>
      </div>
      <!-- </form> -->
      <div class="text-center mt-5 text-lg fs-4">
        <p class="text-gray-600">
          Don't have an account?
          <a href="auth-register.html" class="font-bold">Sign up</a>.
        </p>
        <p>
          <a class="font-bold" href="auth-forgot-password.html"
            >Forgot password?</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 d-none d-lg-block">
    <div id="auth-right"></div>
  </div>
</div>
<script src="login.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
